*{
    margin-top: auto;
    padding: auto;
}
h1{
    text-align: center;
    background-color: darkslategrey;
    color: aliceblue;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}
.choice{
    height:170px;
    width:170px;
    border-radius: 50%;
    
}
.choice:hover{
    opacity: 0.6;
    cursor: pointer;
  
    
    
}
img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius:2rem ;
    
}
.choices{
    display: flex;
   justify-content: center;
margin-top: 5rem;
}

.content{
    display:flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap:4em;
}


#user,#comp{
    font-size: 4rem;
}
#msg{
    
    background-color: coral;
    color:white;
    display: inline;
   justify-content: center;
   border-radius: 1rem;
   padding: 1rem;
   font-weight: bold;
}
.msg-container{
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
   padding: 1rem;
   
}
